#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #106eea;
    border-top-color: #e2eefd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Login */
.login {
    background: #efefee;
}
.login .wrapper.wrapper-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: unset;
    padding: 15px;
}
.login .wrapper.wrapper-login .container-login, .login .wrapper.wrapper-login .container-signup {
    width: 400px;
    padding: 60px 25px;
    border-radius: 5px;
}
.login .wrapper.wrapper-login .container-login:not(.container-transparent), .login .wrapper.wrapper-login .container-signup:not(.container-transparent) {
    background: #fff;
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    -moz-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    border: 1px solid #ebecec;
}
.login .wrapper.wrapper-login .container-login h3, .login .wrapper.wrapper-login .container-signup h3 {
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 25px;
}
.login .wrapper.wrapper-login .container-login .form-sub, .login .wrapper.wrapper-login .container-signup .form-sub {
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
}
.login .wrapper.wrapper-login .container-login .btn-login, .login .wrapper.wrapper-login .container-signup .btn-login {
    padding: 15px 0;
    width: 135px;
}
.login .wrapper.wrapper-login .container-login .form-action, .login .wrapper.wrapper-login .container-signup .form-action {
    text-align: center;
    padding: 25px 10px 0;
}
.login .wrapper.wrapper-login .container-login .form-action-d-flex, .login .wrapper.wrapper-login .container-signup .form-action-d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login .wrapper.wrapper-login .container-login .login-account, .login .wrapper.wrapper-login .container-signup .login-account {
    padding-top: 10px;
    text-align: center;
}
.login .wrapper.wrapper-login .container-signup .form-action {
    display: flex;
    justify-content: center;
}
.login .wrapper.wrapper-login-full {
    justify-content: unset;
    align-items: unset;
    padding: 0 !important;
}
.login .login-aside {
    padding: 25px;
}
.login .login-aside .title {
    font-size: 36px;
}
.login .login-aside .subtitle {
    font-size: 18px;
}
.login .show-password {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}
.login .custom-control-label {
    white-space: nowrap;
}
@media screen and (max-width: 576px) {
    .form-action-d-flex {
        flex-direction: column;
        align-items: start !important;
   }
    .login .wrapper-login-full {
        flex-direction: column;
   }
    .login .login-aside {
        width: 100% !important;
   }
    .login .login-aside .title {
        font-size: 24px;
   }
    .login .login-aside .subtitle {
        font-size: 16px;
   }
}
@media screen and (max-width: 399px) {
    .wrapper-login {
        padding: 15px !important;
   }
    .container-login {
        width: 100% !important;
        padding: 60px 15px !important;
   }
}