#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #106eea;
    border-top-color: #e2eefd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.table {
    width: 100% !important;
}

.validationMessage {
    color: #f25961;
}

.alert {
    z-index: 1051 !important;
}

.admin-logo {
    color: #fff;
    font-size: 28px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
}

.admin-logo > span {
    color: #000;
}

.fas {
    color: #106eea !important;
}

.travecode-disabled {
    pointer-events:none;
}

.travecode-clickable {
    cursor: pointer;
}

.travecode-center {
    text-align: center;
}